@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.font-data {
  font-family: "IBM Plex Mono", monospace;
}

.map-dark .leaflet-tile-pane {
  filter: invert(1) hue-rotate(180deg) brightness(0.85) contrast(0.9) saturate(0.5);
}

.map-dark .leaflet-container {
  background: #0d1117;
}
